*{
	font-family: 'Open Sans', sans-serif;
}

#updateMsg{
	
	height: 100px;
	width:  900px;
	border: 1px solid black;
	text-align: center;
	margin: 0 auto;
}

h1{
	text-align: center;
	font-size: 50px;
	font-weight: 800;
}

h2, h3{
	text-align: center;
	font-size: 30px;
	font-family: 'Open Sans 800', sans-serif;
	font-weight: 400;
}

#drugs{
    width: 55%;
    background-color: #CCCCCC;
  
       -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px; /* future proofing */
     -khtml-border-radius: 10px; /* for old Konqueror browsers */
  
    -moz-box-shadow:		2px 0 50px #000000;
    -webkit-box-shadow:	2px 0 50px #000000;
    box-shadow:					2px 0 50px #000000;
}

h3{
	text-align: center;
	font-size: 30px;
}

#dealers{
    width: 55%;
    background-color: #CCCCCC;
  
       -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px; /* future proofing */
     -khtml-border-radius: 10px; /* for old Konqueror browsers */
  
    -moz-box-shadow:		2px 0 50px #000000;
    -webkit-box-shadow:	2px 0 50px #000000;
    box-shadow:					2px 0 50px #000000;
}
